<h3 xmlns="http://www.w3.org/1999/html">Edit note</h3>
<div class="flex-order">
    <form>
        {{#if note}}
            <div class="">
                <label>Status</label>
                <input type="checkbox" name="done" {{#if note.done}}checked{{/if}}><label>Finished</label>
            </div>
            <div class="">
                <label>Titel</label>
                <input type="text" name="title" value="{{note.title}}">
            </div>
            <div class="">
                <label>Beschreibung</label>
                <textarea name="description">{{note.description}}</textarea>
            </div>
            <div class="">
                <label>Wichtigkeit: </label>
                <select name="importance">
                    <option selected="selected">
                        {{note.importance}}
                    </option>
                </select>

            </div>
            <div>
                <label>Due To:</label>
                <input type="date" name="dueToDate" value="{{note.dueToDate}}">
            </div>
            <div class="">
                <button class="button" type="submit" formaction="/notes/edit/{{note._id}}" formmethod="post">Update
                </button>
                <button class="button" type="submit" formaction="/" formmethod="get">Cancel</button>
            </div>
        {{else}}
            <div class="">No data yet</div>
        {{/if}}
    </form>
</div>