<h3>Edit note</h3>
<div class="flex-order">
    <form>
        {{#if note}}
            <div class="form-item">
                <label for="title">Titel</label>
                <input type="text" name="title" id="title" value="{{note.title}}">
            </div>
            <div class="form-item">
                <label for="description">Beschreibung</label>
                <textarea name="description" id="description">{{note.description}}</textarea>
            </div>
            <div class="form-item">
                <label for="importance">Wichtigkeit: </label>
                <select name="importance" id="importance">
                    {{#dropimportance note.importance}}

                    {{/dropimportance}}
                    <!--<option selected="selected">
                        {{note.importance}}
                    </option>-->
                </select>

            </div>
            <div class="form-item">
                <label for="dueToDate">Fertig bis:</label>
                <input type="date" id="dueToDate" name="dueToDate" value="{{note.dueToDate}}">
            </div>
            <div class="form-item status">
                <label for="done">Status</label>
                <label class="switch">
                    <input id="done" name="done" type="checkbox" {{#if note.done}}checked{{/if}}>
                    <div class="slider round"></div>
                </label>
            </div>
            <div class="form-button">
                <button class="button" type="submit" formaction="/notes/edit/{{note._id}}" formmethod="post">Update
                </button>
                <button class="button" type="submit" formaction="/" formmethod="get">Back</button>
            </div>
        {{else}}
            <div class="">Keine Todo gefunden!</div>
        {{/if}}
    </form>
</div>