<div class="navigation">
<h3>Willkommen! Zu der besten Note App auf der Welt! Juhuu</h3>
    <form>
        <div class="">
            <button class="button" type='submit' formaction="/notes/new" formmethod="get">Create new Note</button>
            <button class="button right" type="submit" formaction="/changeStyle" formmethod="get">Style-Switcher
            </button>
        </div>
        <div class="">
            <button class="button" type="submit" formaction="/sortNotes/dueToDate" formmethod="get">By finish Date</button>
            <button class="button" type="submit" formaction="/sortNotes/addDate" formmethod="get">By created Date</button>
            <button class="button" type="submit" formaction="/sortNotes/importance" formmethod="get">By Importance</button>
            <button class="button" type="submit" formaction="/sortNotes/done" formmethod="get">Show finished</button>
        </div>
    </form>
</div>

<div class="notes">
<h3>Notes</h3>
    <form>
        {{#if notes}}
            {{#each notes}}
                <div class="inline-box">
                    <div class="box box-left">
                        <input type="checkbox" name="done" {{#if done}}checked{{/if}}><label>Finished</label>
                    </div>
                    <div class="box box-middle">
                        {{title}}
                        <span class="right">{{importance}}</span>
                        <input type="text" value="{{description}}" readonly>
                    </div>
                    <div class="box box-right">
                        <button class="button" type="submit" formaction="/notes/{{_id}}" formmethod="get">Edit</button>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="nothing">No data yet</div>
        {{/if}}
    </form>
</div>